<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjy5Rsp-qY-uF8v_Wt2xcKzAmsAtWWIUk</string>
	<key>GCM_SENDER_ID</key>
	<string>558968875125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalYearProject</string>
	<key>PROJECT_ID</key>
	<string>digital-health-care-app</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-health-care-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558968875125:ios:4f809e1e27bfc5dee3f03c</string>
</dict>
</plist>